In [100]:
import pandas as pd
import numpy as np
import matplotlib
import csv

df=pd.DataFrame()
df=pd.read_csv("chronic_kidney_disease_updated.csv")


print df.columns.values

['age' 'bp' 'sg' 'al' 'su' 'rbc' 'pc' 'pcc' 'ba' 'bgr' 'bu' 'sc' 'sod'
 'pot' 'hemo' 'pcv' 'wbcc' 'rbcc' 'htn' 'dm' 'cad' 'appet' 'pe' 'ane'
 'class']

In [71]:
#first five rows
df.head(5)

,age,bp,sg,al,su,rbc,pc,pcc,ba,bgr,...,pcv,wbcc,rbcc,htn,dm,cad,appet,pe,ane,class
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,48,80,1.020,1,0,?,normal,notpresent,notpresent,121,...,44,7800,5.2,yes,yes,no,good,no,no,ckd
2,7,50,1.020,4,0,?,normal,notpresent,notpresent,?,...,38,6000,?,no,no,no,good,no,no,ckd
3,62,80,1.010,2,3,normal,normal,notpresent,notpresent,423,...,31,7500,?,no,yes,no,poor,no,yes,ckd
4,48,70,1.005,4,0,normal,abnormal,present,notpresent,117,...,32,6700,3.9,yes,no,no,poor,yes,yes,ckd

In [102]:
##A function to replace "?"  with NaN, and trim other data
def cleanse(df):
    df.replace("?", np.nan, inplace=True)
    df.replace(regex=True,inplace=True, to_replace=r'\t',value=r'')
    df.replace(regex=True,inplace=True, to_replace=r' ',value=r'')
    return df

In [103]:
##calling function
# df.age.replace("?", np.nan, inplace=True)
cleanse(df)
##df.head(5)
df.dm.unique()

array([nan, 'yes', 'no'], dtype=object)

In [104]:
print df.dm.unique()

[nan 'yes' 'no']

In [105]:
df.dm.value_counts()

no     261
yes    137
Name: dm, dtype: int64

In [101]:
df[['age', 'bp', 'bgr', 'bu', 'sc', 'sod', 'pot', 'hemo', 'pcv', 'wbcc', 'rbcc']] = df[['age', 'bp', 'bgr', 'bu', 'sc', 'sod', 'pot', 'hemo', 'pcv', 'wbcc', 'rbcc']].apply(pd.to_numeric)

ValueError: ('Unable to parse string', u'occurred at index age')

In [76]:
#df
##matplotlib.bar(df['rbcc'],df['class'], width = 0.5)

In [96]:
(df['bp']==max(df['bp']) and df['class']=='ckd')==True

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [97]:
df.to_csv("clean_chronic_kidney_disease.csv")