In [1]:
print "Hello world"

Hello world

In [2]:
import pandas as pd

In [4]:
import numpy as np

In [8]:
df=pd.read_csv("/resources/data/chronic_kidney_disease_updated.csv")

In [7]:
print df

     age   bp     sg   al   su       rbc        pc         pcc          ba  \
0    NaN  NaN    NaN  NaN  NaN       NaN       NaN         NaN         NaN
1     48   80  1.020    1    0         ?    normal  notpresent  notpresent
2      7   50  1.020    4    0         ?    normal  notpresent  notpresent
3     62   80  1.010    2    3    normal    normal  notpresent  notpresent
4     48   70  1.005    4    0    normal  abnormal     present  notpresent
5     51   80  1.010    2    0    normal    normal  notpresent  notpresent
6     60   90  1.015    3    0         ?         ?  notpresent  notpresent
7     68   70  1.010    0    0         ?    normal  notpresent  notpresent
8     24    ?  1.015    2    4    normal  abnormal  notpresent  notpresent
9     52  100  1.015    3    0    normal  abnormal     present  notpresent
10    53   90  1.020    2    0  abnormal  abnormal     present  notpresent
11    50   60  1.010    2    4         ?  abnormal     present  notpresent
12    63   70  1.010    3    0  abnormal  abnormal     present  notpresent
13    68   70  1.015    3    1         ?    normal     present  notpresent
14    68   70      ?    ?    ?         ?         ?  notpresent  notpresent
15    68   80  1.010    3    2    normal  abnormal     present     present
16    40   80  1.015    3    0         ?    normal  notpresent  notpresent
17    47   70  1.015    2    0         ?    normal  notpresent  notpresent
18    47   80      ?    ?    ?         ?         ?  notpresent  notpresent
19    60  100  1.025    0    3         ?    normal  notpresent  notpresent
20    62   60  1.015    1    0         ?  abnormal     present  notpresent
21    61   80  1.015    2    0  abnormal  abnormal  notpresent  notpresent
22    60   90      ?    ?    ?         ?         ?  notpresent  notpresent
23    48   80  1.025    4    0    normal  abnormal  notpresent  notpresent
24    21   70  1.010    0    0         ?    normal  notpresent  notpresent
25    42  100  1.015    4    0    normal  abnormal  notpresent     present
26    61   60  1.025    0    0         ?    normal  notpresent  notpresent
27    75   80  1.015    0    0         ?    normal  notpresent  notpresent
28    69   70  1.010    3    4    normal  abnormal  notpresent  notpresent
29    75   70      ?    1    3         ?         ?  notpresent  notpresent
..   ...  ...    ...  ...  ...       ...       ...         ...         ...
371   69   70  1.020    0    0    normal    normal  notpresent  notpresent
372   28   60  1.025    0    0    normal    normal  notpresent  notpresent
373   72   60  1.020    0    0    normal    normal  notpresent  notpresent
374   61   70  1.025    0    0    normal    normal  notpresent  notpresent
375   79   80  1.025    0    0    normal    normal  notpresent  notpresent
376   70   80  1.020    0    0    normal    normal  notpresent  notpresent
377   58   70  1.025    0    0    normal    normal  notpresent  notpresent
378   64   70  1.020    0    0    normal    normal  notpresent  notpresent
379   71   60  1.025    0    0    normal    normal  notpresent  notpresent
380   62   80  1.025    0    0    normal    normal  notpresent  notpresent
381   59   60  1.020    0    0    normal    normal  notpresent  notpresent
382   71   70  1.025    0    0         ?         ?  notpresent  notpresent
383   48   80  1.025    0    0    normal    normal  notpresent  notpresent
384   80   80  1.025    0    0    normal    normal  notpresent  notpresent
385   57   60  1.020    0    0    normal    normal  notpresent  notpresent
386   63   70  1.020    0    0    normal    normal  notpresent  notpresent
387   46   70  1.025    0    0    normal    normal  notpresent  notpresent
388   15   80  1.025    0    0    normal    normal  notpresent  notpresent
389   51   80  1.020    0    0    normal    normal  notpresent  notpresent
390   41   80  1.025    0    0    normal    normal  notpresent  notpresent
391   52   80  1.025    0    0    normal    normal  notpresent  notpresent
392   36   80  1.025    0    0    normal    normal  notpresent  notpresent
393   57   80  1.020    0    0    normal    normal  notpresent  notpresent
394   43   60  1.025    0    0    normal    normal  notpresent  notpresent
395   50   80  1.020    0    0    normal    normal  notpresent  notpresent
396   55   80  1.020    0    0    normal    normal  notpresent  notpresent
397   42   70  1.025    0    0    normal    normal  notpresent  notpresent
398   12   80  1.020    0    0    normal    normal  notpresent  notpresent
399   17   60  1.025    0    0    normal    normal  notpresent  notpresent
400   58   80  1.025    0    0    normal    normal  notpresent  notpresent

     bgr   ...    pcv   wbcc rbcc  htn   dm  cad appet   pe  ane   class
0    NaN   ...    NaN    NaN  NaN  NaN  NaN  NaN   NaN  NaN  NaN     NaN
1    121   ...     44   7800  5.2  yes  yes   no  good   no   no     ckd
2      ?   ...     38   6000    ?   no   no   no  good   no   no     ckd
3    423   ...     31   7500    ?   no  yes   no  poor   no  yes     ckd
4    117   ...     32   6700  3.9  yes   no   no  poor  yes  yes     ckd
5    106   ...     35   7300  4.6   no   no   no  good   no   no     ckd
6     74   ...     39   7800  4.4  yes  yes   no  good  yes   no     ckd
7    100   ...     36      ?    ?   no   no   no  good   no   no     ckd
8    410   ...     44   6900    5   no  yes   no  good  yes   no     ckd
9    138   ...     33   9600  4.0  yes  yes   no  good   no  yes     ckd
10    70   ...     29  12100  3.7  yes  yes   no  poor   no  yes     ckd
11   490   ...     28      ?    ?  yes  yes   no  good   no  yes     ckd
12   380   ...     32   4500  3.8  yes  yes   no  poor  yes   no     ckd
13   208   ...     28  12200  3.4  yes  yes  yes  poor  yes   no     ckd
14    98   ...      ?      ?    ?  yes  yes  yes  poor  yes   no     ckd
15   157   ...     16  11000  2.6  yes  yes  yes  poor  yes   no     ckd
16    76   ...     24   3800  2.8  yes   no   no  good   no  yes     ckd
17    99   ...      ?      ?    ?   no   no   no  good   no   no     ckd
18   114   ...      ?      ?    ?  yes   no   no  poor   no   no     ckd
19   263   ...     37  11400  4.3  yes  yes  yes  good   no   no     ckd
20   100   ...     30   5300  3.7  yes   no  yes  good   no   no     ckd
21   173   ...     24   9200  3.2  yes  yes  yes  poor  yes  yes     ckd
22     ?   ...     32   6200  3.6  yes  yes  yes  good   no   no     ckd
23    95   ...     32   6900  3.4  yes   no   no  good   no  yes     ckd
24     ?   ...      ?      ?    ?   no   no   no  poor   no  yes     ckd
25     ?   ...     39   8300  4.6  yes   no   no  poor   no   no     ckd
26   108   ...     29   8400  3.7  yes  yes   no  good   no  yes     ckd
27   156   ...     35  10300    4  yes  yes   no  poor   no   no     ckd
28   264   ...     37   9600  4.1  yes  yes  yes  good  yes   no     ckd
29   123   ...      ?      ?    ?   no  yes   no  good   no   no     ckd
..   ...   ...    ...    ...  ...  ...  ...  ...   ...  ...  ...     ...
371   83   ...     50   9300  5.4   no   no   no  good   no   no  notckd
372   79   ...     51   6500  5.0   no   no   no  good   no   no  notckd
373  109   ...     52  10500  5.5   no   no   no  good   no   no  notckd
374  133   ...     47   9200  4.9   no   no   no  good   no   no  notckd
375  111   ...     40   8000  6.4   no   no   no  good   no   no  notckd
376   74   ...     48   9700  5.6   no   no   no  good   no   no  notckd
377   88   ...     53   9100  5.2   no   no   no  good   no   no  notckd
378   97   ...     49   6400  4.8   no   no   no  good   no   no  notckd
379    ?   ...     42   7700  5.5   no   no   no  good   no   no  notckd
380   78   ...     50   5400  5.7   no   no   no  good   no   no  notckd
381  113   ...     54   6500  4.9   no   no   no  good   no   no  notckd
382   79   ...     40   5800  5.9   no   no   no  good   no   no  notckd
383   75   ...     51   6000  6.5   no   no   no  good   no   no  notckd
384  119   ...     49   5100  5.0   no   no   no  good   no   no  notckd
385  132   ...     42  11000  4.5   no   no   no  good   no   no  notckd
386  113   ...     52   8000  5.1   no   no   no  good   no   no  notckd
387  100   ...     43   5700  6.5   no   no   no  good   no   no  notckd
388   93   ...     50   6200  5.2   no   no   no  good   no   no  notckd
389   94   ...     46   9500  6.4   no   no   no  good   no   no  notckd
390  112   ...     52   7200  5.8   no   no   no  good   no   no  notckd
391   99   ...     52   6300  5.3   no   no   no  good   no   no  notckd
392   85   ...     44   5800  6.3   no   no   no  good   no   no  notckd
393  133   ...     46   6600  5.5   no   no   no  good   no   no  notckd
394  117   ...     54   7400  5.4   no   no   no  good   no   no  notckd
395  137   ...     45   9500  4.6   no   no   no  good   no   no  notckd
396  140   ...     47   6700  4.9   no   no   no  good   no   no  notckd
397   75   ...     54   7800  6.2   no   no   no  good   no   no  notckd
398  100   ...     49   6600  5.4   no   no   no  good   no   no  notckd
399  114   ...     51   7200  5.9   no   no   no  good   no   no  notckd
400  131   ...     53   6800  6.1   no   no   no  good   no   no  notckd

[401 rows x 25 columns]

In [9]:
print df['rbc']

0           NaN
1             ?
2             ?
3        normal
4        normal
5        normal
6             ?
7             ?
8        normal
9        normal
10     abnormal
11            ?
12     abnormal
13            ?
14            ?
15       normal
16            ?
17            ?
18            ?
19            ?
20            ?
21     abnormal
22            ?
23       normal
24            ?
25       normal
26            ?
27            ?
28       normal
29            ?
         ...
371      normal
372      normal
373      normal
374      normal
375      normal
376      normal
377      normal
378      normal
379      normal
380      normal
381      normal
382           ?
383      normal
384      normal
385      normal
386      normal
387      normal
388      normal
389      normal
390      normal
391      normal
392      normal
393      normal
394      normal
395      normal
396      normal
397      normal
398      normal
399      normal
400      normal
Name: rbc, dtype: object

In [10]:
list(df)

['age',
 'bp',
 'sg',
 'al',
 'su',
 'rbc',
 'pc',
 'pcc',
 'ba',
 'bgr',
 'bu',
 'sc',
 'sod',
 'pot',
 'hemo',
 'pcv',
 'wbcc',
 'rbcc',
 'htn',
 'dm',
 'cad',
 'appet',
 'pe',
 'ane',
 'class']

In [11]:
df.head(n=5)

,age,bp,sg,al,su,rbc,pc,pcc,ba,bgr,...,pcv,wbcc,rbcc,htn,dm,cad,appet,pe,ane,class
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,48,80,1.020,1,0,?,normal,notpresent,notpresent,121,...,44,7800,5.2,yes,yes,no,good,no,no,ckd
2,7,50,1.020,4,0,?,normal,notpresent,notpresent,?,...,38,6000,?,no,no,no,good,no,no,ckd
3,62,80,1.010,2,3,normal,normal,notpresent,notpresent,423,...,31,7500,?,no,yes,no,poor,no,yes,ckd
4,48,70,1.005,4,0,normal,abnormal,present,notpresent,117,...,32,6700,3.9,yes,no,no,poor,yes,yes,ckd

In [32]:
print df['dm']

0      NaN
1      yes
2       no
3      yes
4       no
5       no
6      yes
7       no
8      yes
9      yes
10     yes
11     yes
12     yes
13     yes
14     yes
15     yes
16      no
17      no
18      no
19     yes
20      no
21     yes
22     yes
23      no
24      no
25      no
26     yes
27     yes
28     yes
29     yes
      ...
371     no
372     no
373     no
374     no
375     no
376     no
377     no
378     no
379     no
380     no
381     no
382     no
383     no
384     no
385     no
386     no
387     no
388     no
389     no
390     no
391     no
392     no
393     no
394     no
395     no
396     no
397     no
398     no
399     no
400     no
Name: dm, dtype: object

In [33]:
print df.dm.unique()

[nan 'yes' 'no' ' yes']

In [39]:
df['dm'].replace(regex=True,inplace=True,to_replace=r'\t',value=r'')
df.replace('?', np.nan)
print df.dm.unique()

[nan 'yes' 'no' ' yes']

In [48]:
df.replace(regex=True,inplace=True,to_replace=r'\t',value=r'')
print df.dm.unique()

[nan 'yes' 'no' ' yes']

In [10]:
df[['age', 'bp', 'bgr', 'bu', 'sc', 'sod', 'pot', 'hemo', 'pcv', 'wbcc', 'rbcc']] = df[['age', 'bp', 'bgr', 'bu', 'sc', 'sod', 'pot', 'hemo', 'pcv', 'wbcc', 'rbcc']].apply(pd.to_numeric)
print df.dtype

NameError: name 'df' is not defined

In [8]:
print df['rbc'].value_counts()

NameError: name 'df' is not defined

In [9]:
print df['bp'].max()

NameError: name 'df' is not defined